@import '../../../styles/settings.scss';

.pokedex {
  padding: $base-size;
  display: grid;
  grid-template-columns: 18% auto;


  &__search, &__menu {
    align-items: center;
    //display: flex;
    //flex-direction: column;
    margin: $base-size;
    background-color: $gray;
    border-radius: $base-size;
    padding: $base-size;
  }

  &__search {
    grid-column: span 2;
  }

  &__inputs {
    margin: $base-size auto;

    input, button {
      padding: $base-size;
      margin: 5px;
      border: 2px solid $navy;
      border-radius: $radius;
      text-align: center;
      background-color: whitesmoke;
      color: $navy;
      transition: all .3s ease-in-out;
    }

    button:hover {
      background-color: $blue;
      color: whitesmoke;
    }
  }

  &__result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 30%));
    gap: calc($base-size * 2);
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    //padding: $base-size;
  }

  &__menu {
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-start;
    gap: $base-size;
    height: max-content;
    min-width: min-content

  }

  &__menu--letters, &__menu--types {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20px, 1fr));
    gap: 4px;
  }

  &__menu--types {
    grid-template-columns: repeat( auto-fit, minmax(60px, 100%));
  }

  &__button {
    background: radial-gradient($navy, $blue);
    color: white;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    min-width: fit-content;

  }


  &__collection {

    background-color: floralwhite;
    border-radius: $base-size;
    margin: $base-size;
    padding: $base-size;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(370px, 30%));
    gap: calc($base-size * 2);
  }
}