@import '../../../styles/settings.scss';

.pokedex {
  padding: $base-size;
  display: grid;
  grid-template-columns: 20% auto;
  background: $red;




  &__collection {

    background-color: lighten($red, 5);
    border-radius: $base-size;
    margin: $base-size;
    padding: $base-size;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    align-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(370px, 30%));
    gap: calc($base-size * 2);
    box-shadow: 2px 2px 2px darken($red, 80);
    overflow: scroll;
    height: 600px;
    position: relative;
  }
}