@import '../../../styles/settings.scss';

.pokedex {
  height: calc(100vh - 7vh);
  padding: $base-size;
  display: grid;
  grid-template-columns: 20% auto;
  background: $red;

  &__collection {
    height: 75vh;
    margin: $base-size;
    padding: $base-size calc($base-size * 4);
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(370px, 30%));
    gap: calc($base-size * 2);
    background-color: lighten($red, 5);
    border-radius: $base-size;
    box-shadow: 2px 2px 2px darken($red, 80);
    overflow: scroll;
    position: relative;
  }

}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .pokedex {
    margin: 0;
    grid-template-columns: auto auto;
    grid-template-rows: 20vh 50vh;
    justify-items: center;
    background: $yellow;


    &__collection {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      width: 50vw;
      height: 70vh;
      margin: 0;
    }
  }
}

@media screen and (max-width: 400px) and (orientation: portrait){
  .pokedex {
    align-content: space-evenly;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 65vh 10vh;
    background: $grass;

    &__collection {
      margin: 0;
      height: 510px;
      //max-height: 65vh;
    }

    // &__all {
    //   position: fixed;
    //   z-index: 3;
    //   top: -$base-size;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }
}