@import '../../../styles/settings.scss';


.type {
  width: calc($base-size * 2);
  height: calc($base-size * 2);
  background-color: white;
  border-radius: 50%;
  padding: 3px;

  &__icon {
    width: 100%;
    cursor: pointer;
  }
}

