@import '../../../styles/settings.scss';


.up {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  line-height: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  color: $blue;
  background-color: whitesmoke;
  font-size: calc($base-size * 3);
  border: 2px outset whitesmoke;
  transition: all .3s ease-in-out;

  &:hover {
    color: whitesmoke;
    background-color: $blue;
  }
}



.up--visible {
  visibility: visible;
}

.up--hidden {
  visibility: hidden;
}

// @media screen and (max-width: 420px) and (orientation: portrait){
//   .up {
//     color: $blue;
//     border: 2px outset whitesmoke;
//     background-color: whitesmoke;
//   }
// }

