@import '../../../styles/settings.scss';


.up {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  line-height: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  color: whitesmoke;
  font-size: calc($base-size * 3);

}

.up--visible {
  visibility: visible;
}

.up--hidden {
  visibility: hidden;
}

@media screen and (max-width: 400px) and (orientation: portrait){
  .up {
    color: $blue;
  }
}

