@import '../../../styles/settings.scss';

.logo {
  width: calc($base-size * 7);
  height: calc($base-size * 7);
  border-radius: 50%;
  border-width: $base-size;
  border-style: ridge;
  border-color: $red;
  background-color: aqua;
  color: $gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  transition: all .3s;
  position: absolute;
  top: 1vh;
  left: 1vh;
  z-index: 100;
}

.logo:hover {
  border-color: $grass;
  color: $grass;
  box-shadow: 0 0 12px aqua;
}

.logo:focus {
  transform: rotate(180deg);
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .logo {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
  }
}

@media screen and (max-width: 400px) and (orientation: portrait){
  .logo {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
  }
}
