@import '../../../styles/settings.scss';

.logo {
  width: calc($base-size * 7);
  height: calc($base-size * 7);
  border-radius: 50%;
  border: 3px solid whitesmoke;
  background: radial-gradient(lighten($blue, 5), $blue, $navy, darken($navy, 30));
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 1vh;
  left: 1vh;
  z-index: 100;
}

.logo:hover {
  border-color: yellowgreen;
  color: $grass;
  box-shadow: 0 0 12px yellowgreen;
}

.logo:focus {
  transform: rotate(180deg);
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .logo {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
  }
}

@media screen and (max-width: 400px) and (orientation: portrait){
  .logo {
    width: calc($base-size * 4);
    height: calc($base-size * 4);
  }
}
