@import '../../../styles/settings.scss';

.panel {
  grid-column: 2 / 3;

  &__input-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    color: black;
    font-family: $font-search;
    letter-spacing: 2px;

    input {
      background-color: $screenGray;
      border: 3px inset $red;
      font-size: calc($base-size * 1.4);
      font-family: $font-search;
      font-weight: 300;
      letter-spacing: 2px;
      border-radius: $radius;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    label {
      position: absolute;
      top: 50%;
      left: $base-size;
      right: 0%;
      transform: translateY(-50%);
      pointer-events: none;
      transition: .3s;
    }

    input:focus ~ label, input:valid ~ label {
      left: 105%;
      color: whitesmoke;
    }

    input:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__login,
  &__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc($base-size * 1.2);
  }

  &__login {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
  }

  &__sign-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__normalbtn, &__activebtn {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
  }

  &__normalbtn {
    background-color: transparent;
    color: whitesmoke;
  }

  &__activebtn {
    width: 50%;
    padding: $base-size;
    background-color: whitesmoke;
    color: $red;
  }

  &__error {
    height: calc($base-size * 3);
  }

  &__account {
    padding: 0 5px;
    justify-self: end;
    transition: .3s;
  }

  &__user {
      display: flex;
      align-items: center;
      gap: 3px;
      margin: 0;
      font-size: calc($base-size * 1.2);
      cursor: pointer;
  }

  &__logout {
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  &__logout:hover {
    color: $fire;
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  .panel {

    &__user {
      font-size: 4vh;
    }

    &__logout {
      width: 2vw;
      height: 2vw;
      font-size: 3vh;
      }
  }
}

@media screen and (max-width: 420px) and (orientation: portrait){
  .panel {

    &__login {
      gap: calc($base-size * 3);
    }

    input:focus ~ label, input:valid ~ label {
      top: -25%;
      left: 10%;
      color: whitesmoke;
    }

    input:focus {
      outline: none;
      border-color: $blue;
    }
  }
}