@import '../../../styles/settings.scss';

.panel {
  grid-column: 2 / 3;
  
  &__login,
  &__account {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: $base-size;

    input {
      padding: $base-size;
      border: none;
      border-radius: $radius;
      text-align: center;
      color: $blue;
    }

    input::placeholder {
      color: $navy;
      opacity: .5;
    }
  }

  &__login {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__sign-btn {
    display: flex;
    justify-content: center;

    button {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &__account {
    padding: 0;
    width: 100%;

    p {
      margin: 0;
    }
  }

  &__logout {
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    font-size: 2vh;
    color: white;
    cursor: pointer;
  }

  &__logout:hover {
    color: $fire;
  }

}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .panel {

    &__logout {
      width: 2vw;
      height: 2vw;
      font-size: 1vw;
      }
  }
}

@media screen and (max-width: 400px) and (orientation: portrait){
  /* … */
}

