@import '../../../styles/settings.scss';

.panel {

  &__login,
  &__account {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: $base-size;

    input {
      padding: $base-size;
      border: none;
      border-radius: $radius;
      text-align: center;
      color: $blue;
    }

    input::placeholder {
      color: $navy;
      opacity: .5;
    }
  }

  &__login {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__sign-btn {
    display: flex;
    justify-content: center;

    button {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &__account {
    padding: 0;
    width: 100%;

    p {
      margin: 0;
    }
  }

  &__logout {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  &__logout:hover {
    color: $fire;
  }

  &__logout:focus {
    color: $red;
  }
}

