@import '../../../styles/settings.scss';

.pokemon {
  width: calc($base-size * 12);
  height: calc($base-size * 12);
  padding: calc($base-size / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  box-shadow: $card-up;
  position: relative;
  transition: all .5s ease-in-out;

  &__pokeball {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url('../../../../public/images/pokeball-icon.png');
    background-size: contain;
    }

  &__name {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0.556), rgba(255, 255, 255, 0.0) 50%);
    font-family: $font-content;
    border: 9px solid black;
  }

  &__image {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    transition: all .5s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(.6);
    }
  }

  &__normal {
    background-color: $normal;
  }

  &__fire {
    background-color: $fire;
  }

  &__water {
    background-color: $water;
  }

  &__grass {
    background-color: $grass;
  }

  &__flying {
    background-color: $flying;
  }

  &__fighting {
    background-color: $fighting;
  }

  &__poison {
    background-color: $poison;
  }

  &__electric {
    background-color: $electric;
  }

  &__ground {
    background-color: $ground;
  }

  &__rock {
    background-color: $rock;
  }

  &__psychic {
    background-color: $psychic;
  }
  &__ice {
    background-color: $ice;
  }

  &__bug {
    background-color: $bug;
  }

  &__ghost {
    background-color: $ghost;
  }

  &__steel {
    background-color: $steel;
  }

  &__dragon {
    background-color: $dragon;
  }

  &__dark {
    background-color: $dark;
  }

  &__fairy {
    background-color: $fairy;
  }
}