@import '../../../styles/settings.scss';


.card {
  border: calc($base-size * 1) solid white;
  border-radius: calc($base-size * 1.2);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  padding: calc($base-size / 2);
  width: 310px;
  height: 150px;
  box-shadow: $card-down;
  position: relative;
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.7));

  &__header {
    grid-column: span 2;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
  }

  &__box, &__title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: calc($base-size / 2);
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.292);
    
    h1 {
      height: calc($base-size * 2);
      overflow-wrap: break-word;
    }
  }

  &__types, &__hp {
    display: flex;
    align-items: baseline;

    p {
      font-size: calc($base-size * 3);
      margin: 0;
    }
  }

  &__appearence {
    grid-column: span 2;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  &__features > p {
    height: 100%;
    padding: 0;
  }

  &__image {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__normal {
    background-color: $normal;
  }

  &__fire {
    background-color: $fire;
  }

  &__water {
    background-color: $water;
  }

  &__grass {
    background-color: $grass;
  }

  &__flying {
    background-color: $flying;
  }

  &__fighting {
    background-color: $fighting;
  }

  &__poison {
    background-color: $poison;
  }

  &__electric {
    background-color: $electric;
  }

  &__ground {
    background-color: $ground;
  }

  &__rock {
    background-color: $rock;
  }

  &__psychic {
    background-color: $psychic;
  }
  &__ice {
    background-color: $ice;
  }

  &__bug {
    background-color: $bug;
  }

  &__ghost {
    background-color: $ghost;
  }

  &__steel {
    background-color: $steel;
  }

  &__dragon {
    background-color: $dragon;
  }

  &__dark {
    background-color: $dark;
  }

  &__fairy {
    background-color: $fairy;
  }
}

.card--active {
  grid-template-columns: auto auto;
  grid-template-rows: 10% 35% 20% 35%;
  height: 500px;
  position: relative;
  box-shadow: $card-up;
  transform: scale(1.02);

  &__header {
    display: flex;
    color: $blue;
    grid-column: span 2;
    justify-content: space-between;
  }

  &__box {
    display: flex;
  }

  &__types, &__hp {
    display: flex;
    align-items: baseline;
    gap: 5px;

    span {
      font-size: calc($base-size / 1.2);
    }

    h1, p {
      font-size: calc($base-size * 1.4);
      margin: 0;
    }
  }

  &__hp {
    color: $blue;
    align-self: center;
    align-items: baseline;

    p {
      font-size: calc($base-size * 3);
    }
  }

  &__appearance {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    color: $blue;
    overflow: hidden;
    border: 4px solid white;
  }

  &__cave {
    background: url(../../../../public/images/habitats/batch_cave.jpg) center ;
  }

  &__grassland {
    background: url(../../../../public/images/habitats/batch_grassland.jpg) center;
  }

  &__mountain {
    background: url(../../../../public/images/habitats/batch_mountain.jpg) center ;
  }

  &__rough-terrain {
    background: url(../../../../public/images/habitats/batch_rough-terrain.jpg) center;
  }

  &__waters-edge {
    background: url(../../../../public/images/habitats/batch_waters-edge.jpg) center;
  }

  &__forest {
    background: url(../../../../public/images/habitats/batch_forest.jpg) center;
  }

  &__sea {
    background: url(../../../../public/images/habitats/batch_sea.jpg) center;
  }

  &__urban {
    background: url(../../../../public/images/habitats/batch_urban.jpg) center;
  }

  &__rare {
    background: url(../../../../public/images/habitats/batch_rare.jpg) center;
  }

  &__cave, 
  &__grassland, 
  &__mountain, 
  &__rough-terrain, 
  &__waters-edge, 
  &__forest, 
  &__sea, 
  &__urban, 
  &__rare {
    background-size: cover;
    background-color: rgb(37, 35, 46);
    background-blend-mode: screen;
  }

  &__image {
    height: 80%;

    img {
      height: 100%;
    }
  }

  &__features {
    width: 100%;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    gap: $base-size;
    font-weight: 300;
    background-color: white;

    p {
      margin: 0;
    }
  }

  &__abilities, &__stats, &__species {
    padding: calc($base-size / 3) $base-size;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc($base-size * 2.4) repeat(3, 1fr);

    h2 {
      grid-column: span 2;
    }

    h2, p {
      padding: 0;
      margin: 0;
    }

    p {
      font-size: calc($base-size * 1.2)
    }
  }

  &__abilities {

    p {
      grid-column: span 2;
    }
  }

  &__species {
    grid-column: span 2;
  }

  &__fact {
    min-height: 100%;
    height: min-content;
    margin: 0 calc($base-size * -1);
    padding: 2px calc($base-size * 3);
    grid-column: span 2;
    grid-row: 3 / 5;
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: rgba(255, 250, 240, 0.861);
    border-radius: 60px 3px 60px 3px;
    color: $blue;
    text-align: justify;
    font-weight: 400;
  }

  &__adding {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: absolute;
    bottom: 5px;
    right: 5px;

    button {
      width: calc($base-size * 3);
      height: calc($base-size * 3);
      border: none;
      border-radius: 50%;
      background: url('../../../../public/images/pokeball-icon.png') center / calc($base-size * 4) calc($base-size * 4);
      transition: all .5s ease-in-out;
    }

    button:hover {
      transform: rotateZ(20deg) scale(1.1);
    }

    button:active {
      transform: rotateZ(360deg);
    }
  }
}