@import '../../../styles/settings.scss';

.card {
  background: linear-gradient(to left, whitesmoke, $blue);
  border: calc($base-size * 1) solid white;
  border-radius: calc($base-size * 1.2);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  padding: calc($base-size / 2);
  width: 310px;
  height: 150px;
  box-shadow: 2px 2px 2px darkslategray;

  &__header {
    grid-column: span 2;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
  }

  &__box, &__title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: calc($base-size / 2);
  }

  &__types, &__hp {
    display: flex;
    align-items: baseline;
    color: $blue;

    p {
      font-size: calc($base-size * 3);
      margin: 0;
    }
  }

  &__appearence {
    grid-column: span 2;
    display: grid;
    align-items: center;
    justify-items: center;
    
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }


}


.card--active {
  background: linear-gradient(whitesmoke, $blue);
  grid-template-columns: auto auto;
  grid-template-rows: 10% 35% 45% 10%;
  height: 500px;


  &__header {
    display: flex;
    color: $blue;
    grid-column: span 2;
    justify-content: space-between;
  }

  &__box {
    display: flex;
  }

  &__types, &__hp {
    display: flex;
    align-items: baseline;
    gap: 5px;

    span {
      font-size: calc($base-size / 1.2);
    }

    h1, p {
      font-size: calc($base-size * 1.4);
      margin: 0;
    }
  }

  &__hp {
    color: $blue;
    align-self: center;
    align-items: baseline;

    p {
      font-size: calc($base-size * 3);
    }
  }



  &__appearance {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: $blue;
  }

  &__image {
    height: 80%;

    img {
      height: 100%;
    }
  }

  &__features {
    display: flex;
    gap: $base-size;
  }

  &__abilities {
    //grid-column: 2 / 3;
    //text-align: center;
    padding: $base-size;
  }

  &__stats {
    padding: $base-size;
  }

  &__adding {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: end;

    button {
      width: calc($base-size * 3);
      height: calc($base-size * 3);
      border-radius: 50%;
      background-color: whitesmoke;
    }

  }


}