@import './settings.scss';

body, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-content;
  font-size: calc($base-size * 2);
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  /* … */
}

@media screen and (max-width: 420px) and (orientation: portrait){
  /* … */
}