@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

$base-size: 12px;

$font-content: 'Montserrat', sans-serif;


$navy: #0A285F;
$blue: #0075BE;
$gold: #D5A100;
$yellow: #FFCC00;
$red: #FB1B1B;
$gray: #DFDFDF;

$normal: gray;
$fire: red;
$water: blue;
$grass: green;
$flying: white;
$fighting: orange;
$poison: lime;
$electric: yellow;
$ground: brown;
$rock: darkgray;
$psychic: purple;
$ice: lightblue;
$bug: yellowgreen;
$ghost: whitesmoke;
$steel: gray;
$dragon: darkgreen;
$dark: black;
$fairy: violet;


$radius: 7px;
