
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans&family=VT323&display=swap');
$font-content: 'Gill Sans', sans-serif;
$font-search: 'DotGothic16', sans-serif;

$base-size: 12px;
$radius: 5px;

// box shades
$card-up: 12px 12px 10px rgba(0, 0, 0, 0.3);
$card-down: 2px 2px 2px rgba(0, 0, 0, 0.3);

// color palette
$navy: #3c5aa6;
$blue: #2a75bb;
$aqua: #6affff;
$red: #e4000f; 
$screenGray: #ced7ce;

// TYPES COLORS
$normal: #A8A77A;
$fire: #EE8130;
$water: #6390F0;
$electric: #F7D02C;
$grass: #7AC74C;
$ice: #96D9D6;
$fighting: #C22E28;
$poison: #A33EA1;
$ground: #E2BF65;
$flying: #A98FF3;
$psychic: #F95587;
$bug: #A6B91A;
$rock: #B6A136;
$ghost: #735797;
$dragon: #6F35FC;
$dark: #705746;
$steel: #B7B7CE;
$fairy: #D685AD;