
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans&family=VT323&display=swap');
$font-content: 'Gill Sans', sans-serif;
$font-search: 'DotGothic16', sans-serif;

$base-size: 12px;

$navy: #3c5aa6;
$blue: #2a75bb;
$aqua: #6affff;
$gold: #c7a008;
$yellow: #ffcb05;
$red: #e4000f; // nintendo red
$gray: #acabab;
$screenGray: #ced7ce;

// $normal: #737474;
// $fire: #ff5f00;
// $water: #228dd4;
// $grass: #008001;
// $flying: #7cb9e8;
// $fighting: #a41313;
// $poison: #00ff00;
// $electric: #e9cc23;
// $ground: #6a3c27;
// $rock: #928782;
// $psychic: #9c3cd0;
// $ice: #4ad6ee;
// $bug: #6b8e23;
// $ghost: #b19dbf;
// $steel: #547d87;
// $dragon: #0d6e44;
// $dark: #3f3f3f;
// $fairy: #dc89c6;

$normal: #A8A77A;
$fire: #EE8130;
$water: #6390F0;
$electric: #F7D02C;
$grass: #7AC74C;
$ice: #96D9D6;
$fighting: #C22E28;
$poison: #A33EA1;
$ground: #E2BF65;
$flying: #A98FF3;
$psychic: #F95587;
$bug: #A6B91A;
$rock: #B6A136;
$ghost: #735797;
$dragon: #6F35FC;
$dark: #705746;
$steel: #B7B7CE;
$fairy: #D685AD;

$radius: 7px;

