@import '../../../styles/settings.scss';

.menu {
  min-width: min-content;
  height: 75vh;
  margin: $base-size;
  padding: $base-size;
  border-radius: $base-size;
  background-color: lighten($red, 5);
  box-shadow: 2px 2px 2px darken($red, 80);
  display: grid;
  //grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content);
  gap: $base-size;
  overflow: scroll;

  &__letters, &__types {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4px;
    height: 100%;
  }

  &__letters {
    grid-template-columns: repeat( auto-fit, minmax(calc($base-size * 2.5), 1fr));
    grid-template-rows: repeat( auto-fit, minmax(calc($base-size * 2.5), 1fr));
  }

  // &__letters > button {
  //   width: 100%;
  // }

  &__types {
    grid-template-columns: 1fr 1fr;
  }

  // &__types > button {
  //   width: 100%;
  // }

  &__button {
    width: 100%;
    background-color: whitesmoke;
    color: $navy;
    border-style: outset;
    border-width: 3px;
    border-color: $gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    //box-shadow: 2px 2px 2px darken($red, 18);
    padding: 2px;
    font-size: calc($base-size * 1.6);
    //border: 1px solid $gray;
  }
  
  &__button:hover {
    background-color: $blue;
    color: white;
    //box-shadow: 0px 0px 12px lighten($yellow, 18);
  }

  &__button:focus {
    background-color: $grass;
    color: white;
    //box-shadow: 0px 0px 12px lighten($yellow, 18);
  }
}