@import '../../../styles/settings.scss';

.menu {
  align-items: center;
  //display: flex;
  //flex-direction: column;
  margin: $base-size;
  //background-color: $gray;
  border-radius: $base-size;
  padding: $base-size;
  background-color: lighten($red, 5);
  border-radius: $base-size;
  margin: $base-size;
  padding: $base-size;
  box-shadow: 2px 2px 2px darken($red, 80);

  display: grid;
  grid-template-columns: 100%;
  align-items: flex-start;
  gap: $base-size;
  height: max-content;
  min-width: min-content;

  &__button {
    background-color: whitesmoke;
    color: $navy;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    min-width: max-content;
    transition: all .3s ease-in-out;
    //box-shadow: 2px 2px 2px darken($red, 18);
    padding: 2px;
    font-size: $base-size;
    border: 1px solid $gray;
  }
  
  &__button:hover {
    background-color: $blue;
    color: white;
    //box-shadow: 0px 0px 12px lighten($yellow, 18);
  }
}


.menu--letters, .menu--types {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(20px, 1fr));
  gap: 4px;
}

.menu--types {
  grid-template-columns: repeat( auto-fit, minmax(60px, 100%));
}


