@import '../../../styles/settings.scss';

.menu {
  margin: $base-size;
  padding: $base-size;
  border-radius: $base-size;
  border: 2px outset rgba(255, 255, 255, 0.3);
  background-color: lighten($red, 5);
  overflow: scroll;

  &__button-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc($base-size * 3), 1fr));
    justify-items: center;
    margin: 3px;
    gap: 2px;
  }

  &__button {
    width: calc($base-size * 3);
    height: calc($base-size * 3);
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    color: $navy;
    border: 2px outset lightgray;
    border-radius: $radius;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-family: $font-content;
    font-weight: 600;
    font-size: calc($base-size * 2);

    img {
      width: 100%;
    }
  }
  
  &__button:hover {
    background-color: $blue;
    color: white;
  }

  &__button:focus {
    border-color: $aqua;
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  .menu {
    //height: 100%;
    grid-column: 1 / 2;
    //grid-row: 2 / 3;
    margin: 5px;
    align-self: stretch;
    justify-self: stretch;
  }
}

@media screen and (max-width: 420px) and (orientation: portrait){
  .menu {
    margin: 0;
    padding: 3px;
    grid-row: 2 / 3;
    gap: 5px;
    align-items: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}