@import '../../../styles/settings.scss';

.header {
  height: 10vh;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: end;
  background-color: $blue;
  border-radius: $base-size $base-size 0 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 50%, 40% 50%, 30% 100%, 0% 100%, 0% 0%);
}

@media screen and (max-width: 420px) and (orientation: portrait){

  .header {
    clip-path: none;
  }
}