@import '../../../styles/settings.scss';

.header {
  //height: calc($base-size * 5);
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background: linear-gradient($navy, $blue, $navy);
}