@import '../../../styles/settings.scss';

.header {
  height: 7vh;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient($navy, $blue, $navy);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 50%, 40% 50%, 30% 100%, 0% 100%, 0% 0%);}