@import '../../../styles/settings.scss';

.search {
  align-items: center;
  margin: $base-size;
  border-radius: $base-size;
  padding: $base-size;
  grid-column: span 2;
  display: flex;
  justify-content: center;

  input, button {
    padding: $base-size;
    margin: 5px;
    border: 2px solid $navy;
    border-radius: $radius;
    text-align: center;
    background-color: whitesmoke;
    color: $navy;
    transition: all .3s ease-in-out;
  }

  button:hover {
    background-color: $blue;
    color: whitesmoke;
  }  
}

