@import '../../../styles/settings.scss';

.search {
  //border-radius: $base-size;
  grid-column: 2 / 3;
  //justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  //gap: 5px;

  input {
    padding: 3px 5px;
    background-color: $navy;
    border: none;
    //font-size: calc($base-size * 1.7);
    //font-family: $font-search;
    //font-weight: 600;
    letter-spacing: 2px;
    color: white;
    border-radius: $radius;
    //text-align: center;
    //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    &::placeholder {
      color: lightgray;
    }
  }

  button {
    display: flex;
    align-items: center;
    font-size: calc($base-size * 1.6);
    border: none;
    //border: 2px outset whitesmoke;
    //border-radius: 50%;
    color: white;
    background-color: transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &::active {
      transform: scale(0.96);
    }
  }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  .search {
    grid-column: 2 / 3;

    input {
      width: 50%;
      align-self: stretch;
      font-size: inherit;
    }

    button {
      align-self: stretch;
    }
  }
}

@media screen and (max-width: 420px) and (orientation: portrait){

  .search {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}