@import '../../../styles/settings.scss';

.effects {
  width: 80vw;
  border: $base-size solid white;
  background: $blue;
  color: white;
  border-radius: $base-size;
  box-shadow: $card-up;

  &__header {
    grid-column: span 2;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__header, &__types {
    display: flex;
  }

  &__types {
    background-color: white;
    border-radius: 50%;
    width: calc($base-size * 2.3);
    height: calc($base-size * 2.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      margin: $base-size 0;
    }
  }

  &__subtitle {
    font-size: calc($base-size * 1.4);
    margin: 0;
  }

  &__close {
    padding: 0;
    background-color: transparent;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    opacity: .5;
    color: white;
  }

  &__close:hover {
    opacity: 1;
  }

  &__icon {
    height: calc($base-size * 1.9);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: $base-size;
  }

  &__relation {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: flex-start;
    gap: $base-size;
    padding: $base-size;
    margin: 0;
    border-radius: $radius;
    background-color: $navy;
  }

  &__subtitle {
    grid-column: span 5;
  }

  &__types {
    list-style-type: none;
  }
}