@import './styles/general.scss';
@import './styles/settings.scss';

.app {
  width: 100vw;
  height: 100vh;
  //overflow: scroll;

  background-color: $red;
  color: white;
  font-size: $base-size;
  position: relative;
}

