@import './styles/general.scss';
@import './styles/settings.scss';

.app {
  width: 100vw;
  height: 100vh;

  background-color: $red;
  color: white;
  font-size: $base-size;
  position: relative;

  border: 1vh outset $red;
  border-radius: $base-size;
  box-sizing: border-box;
}

