@import '../../styles/settings.scss';

.pokedex {

  &__search {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: $base-size;
  }

  &__searching > * {
    padding: $base-size;
    margin: 5px;
    border: 2px solid fuchsia; 
    text-align: center;
  }

  &__collection {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    gap: calc($base-size * 2);
  }
}